/* Navbar */

.navbar {
  height: calc(100vh - 102px);
  width: var(--navWidth);
  background-color: #000;
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
}

.navbarHR {
  width: 85%;
  border-top: 2px solid rgb(80, 80, 250);
  margin: 0 auto;
}

/* Spotify */

.navbar > .spotify {
  display: flex;
  align-items: center;
  color: #fff;
  height: 65px;
  padding: 10px 24px;
}

.navbar > .spotify > .spotify-logo {
  height: 50px;
  width: 50px;
}

.navbar > .spotify > .spotifyText {
  font-size: 26px;
  margin-left: 5px;
}

/* homeSearch */

.homeSearch {
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 10px 0;
}

.homeSearch li {
  height: 42px;
  width: inherit;
  list-style: none;
  cursor: pointer;
}

.homeSearch li:hover {
  background-color: #2a2a2a;
}

.homeSearchElement {
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 1.3rem;
}

.homeSearchIconText {
  margin-left: 10px;
  font-size: 1.3rem;
}

.homeSearchElement a {
  color: #b3b3b3;
  text-decoration: none;
  width: 100%;
}

/* DROPS */

.albumDrop,
.playlistDrop {
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.albumDrop i,
.playlistDrop i {
  margin-left: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.albumDrop a,
.playlistDrop a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Playbums */

.navbar > .albums,
.navbar > .playlists {
  height: 40px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.navbar > .albums > .albumList,
.navbar > .playlists > .playlistList {
  display: none;
}

.albumList > .album,
.playlistList > .playlist {
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 28px;
  cursor: pointer;
  justify-content: center;
}

.albumList > .album:hover,
.playlistList > .playlist:hover {
  background-color: #2a2a2a;
}

.albumList > .album a,
.playlistList > .playlist a {
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
